.elementor-28 .elementor-element.elementor-element-eee37b7:not(.elementor-motion-effects-element-type-background),
.elementor-28 .elementor-element.elementor-element-eee37b7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ECD3A1;
}

.elementor-28 .elementor-element.elementor-element-eee37b7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-28 .elementor-element.elementor-element-eee37b7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-1af2dd3:not(.elementor-motion-effects-element-type-background),
.elementor-28 .elementor-element.elementor-element-1af2dd3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FCFCFC;
}

.elementor-28 .elementor-element.elementor-element-1af2dd3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 15px 15px 15px;
}

.elementor-28 .elementor-element.elementor-element-1af2dd3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-91af6e4 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-91af6e4 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
    line-height: 47px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-28 .elementor-element.elementor-element-68d829b {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 0px;
}

.elementor-28 .elementor-element.elementor-element-68d829b,
.elementor-28 .elementor-element.elementor-element-68d829b>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-28 .elementor-element.elementor-element-68d829b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-e8e9862 {
    text-align: center;
    color: #000000;
    font-family: "Oswald", Sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}

.elementor-28 .elementor-element.elementor-element-e8e9862>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-f76e425 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-f76e425 .elementor-heading-title {
    color: #E14D43;
    font-family: "Oswald", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}

.elementor-28 .elementor-element.elementor-element-f76e425>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-fc2e7b8 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-fc2e7b8 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.elementor-28 .elementor-element.elementor-element-b634636 {
    text-align: center;
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
}

.elementor-28 .elementor-element.elementor-element-f488420:not(.elementor-motion-effects-element-type-background),
.elementor-28 .elementor-element.elementor-element-f488420>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #016487;
}

.elementor-28 .elementor-element.elementor-element-f488420 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 15px 15px 15px 15px;
}

.elementor-28 .elementor-element.elementor-element-f488420>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-76232d7 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-76232d7 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}

.elementor-28 .elementor-element.elementor-element-7dc2341 {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 30px;
}

.elementor-28 .elementor-element.elementor-element-7dc2341,
.elementor-28 .elementor-element.elementor-element-7dc2341>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-28 .elementor-element.elementor-element-7dc2341:hover,
.elementor-28 .elementor-element.elementor-element-7dc2341:hover>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-28 .elementor-element.elementor-element-7dc2341:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-28 .elementor-element.elementor-element-7dc2341>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-287c00e>.elementor-element-populated,
.elementor-28 .elementor-element.elementor-element-287c00e>.elementor-element-populated>.elementor-background-overlay,
.elementor-28 .elementor-element.elementor-element-287c00e>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-ddb7607 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-ddb7607 .elementor-heading-title {
    color: #FFE500;
}

.elementor-28 .elementor-element.elementor-element-47b0580 {
    text-align: center;
    color: #FFFFFF;
}

.elementor-28 .elementor-element.elementor-element-47b0580>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-88b38d2 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-88b38d2 .elementor-heading-title {
    color: #FFE500;
}

.elementor-28 .elementor-element.elementor-element-02fbecd {
    text-align: center;
    color: #FFFFFF;
}

.elementor-28 .elementor-element.elementor-element-02fbecd>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-d0ae435 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-d0ae435 .elementor-heading-title {
    color: #FFE500;
}

.elementor-28 .elementor-element.elementor-element-1ecef8d {
    text-align: center;
    color: #FFFFFF;
}

.elementor-28 .elementor-element.elementor-element-1ecef8d>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-f22f9dc:not(.elementor-motion-effects-element-type-background),
.elementor-28 .elementor-element.elementor-element-f22f9dc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-28 .elementor-element.elementor-element-f22f9dc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-28 .elementor-element.elementor-element-f22f9dc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-e3841ed:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-28 .elementor-element.elementor-element-e3841ed>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #016487;
}

.elementor-28 .elementor-element.elementor-element-e3841ed>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-28 .elementor-element.elementor-element-e3841ed>.elementor-element-populated,
.elementor-28 .elementor-element.elementor-element-e3841ed>.elementor-element-populated>.elementor-background-overlay,
.elementor-28 .elementor-element.elementor-element-e3841ed>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-28 .elementor-element.elementor-element-e3841ed>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-b0b5ddf {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-b0b5ddf .elementor-heading-title {
    color: #FAFAFA;
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}

.elementor-28 .elementor-element.elementor-element-ebb25e9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-28 .elementor-element.elementor-element-ebb25e9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-c4bac12>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-28 .elementor-element.elementor-element-56bf870 {
    text-align: center;
    z-index: 0;
}

.elementor-28 .elementor-element.elementor-element-56bf870 img {
    filter: brightness( 100%) contrast( 100%) saturate( 100%) blur( 0px) hue-rotate( 0deg);
}

.elementor-28 .elementor-element.elementor-element-86c590b {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
}

.elementor-28 .elementor-element.elementor-element-783dfef:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-28 .elementor-element.elementor-element-783dfef>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #016487;
}

.elementor-28 .elementor-element.elementor-element-783dfef>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-28 .elementor-element.elementor-element-783dfef>.elementor-element-populated,
.elementor-28 .elementor-element.elementor-element-783dfef>.elementor-element-populated>.elementor-background-overlay,
.elementor-28 .elementor-element.elementor-element-783dfef>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-28 .elementor-element.elementor-element-783dfef>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-bce14f1 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-bce14f1 .elementor-heading-title {
    color: #FAFAFA;
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}

.elementor-28 .elementor-element.elementor-element-ce887e9 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-28 .elementor-element.elementor-element-6bc150d .elementor-heading-title {
    color: #000000;
}

.elementor-28 .elementor-element.elementor-element-b00133c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(20px/2);
}

.elementor-28 .elementor-element.elementor-element-b00133c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(20px/2);
}

.elementor-28 .elementor-element.elementor-element-b00133c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(20px/2);
    margin-left: calc(20px/2);
}

.elementor-28 .elementor-element.elementor-element-b00133c .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-20px/2);
    margin-left: calc(-20px/2);
}

body.rtl .elementor-28 .elementor-element.elementor-element-b00133c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-20px/2);
}

body:not(.rtl) .elementor-28 .elementor-element.elementor-element-b00133c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-20px/2);
}

.elementor-28 .elementor-element.elementor-element-b00133c .elementor-icon-list-icon i {
    color: #016487;
    transition: color 0.3s;
}

.elementor-28 .elementor-element.elementor-element-b00133c .elementor-icon-list-icon svg {
    fill: #016487;
    transition: fill 0.3s;
}

.elementor-28 .elementor-element.elementor-element-b00133c {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px;
}

.elementor-28 .elementor-element.elementor-element-b00133c .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-28 .elementor-element.elementor-element-b00133c .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-28 .elementor-element.elementor-element-b00133c .elementor-icon-list-item>a {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-28 .elementor-element.elementor-element-b00133c .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-28 .elementor-element.elementor-element-09d1495 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.elementor-28 .elementor-element.elementor-element-e88c03d {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-e88c03d .elementor-heading-title {
    color: #E04D42;
    font-family: "Fjalla One", Sans-serif;
    font-size: 46px;
    font-weight: 600;
    line-height: 55px;
}

.elementor-28 .elementor-element.elementor-element-1c3220d:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-28 .elementor-element.elementor-element-1c3220d>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #016487;
}

.elementor-28 .elementor-element.elementor-element-1c3220d>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-28 .elementor-element.elementor-element-1c3220d>.elementor-element-populated,
.elementor-28 .elementor-element.elementor-element-1c3220d>.elementor-element-populated>.elementor-background-overlay,
.elementor-28 .elementor-element.elementor-element-1c3220d>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-28 .elementor-element.elementor-element-1c3220d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-bfd5670 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-bfd5670 .elementor-heading-title {
    color: #FAFAFA;
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}

.elementor-28 .elementor-element.elementor-element-748d6b4f {
    margin-top: 30px;
    margin-bottom: 30px;
}

.elementor-28 .elementor-element.elementor-element-ae1f6e1 {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.elementor-28 .elementor-element.elementor-element-c7a97ca:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-28 .elementor-element.elementor-element-c7a97ca>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #016487;
}

.elementor-28 .elementor-element.elementor-element-c7a97ca>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-28 .elementor-element.elementor-element-c7a97ca>.elementor-element-populated,
.elementor-28 .elementor-element.elementor-element-c7a97ca>.elementor-element-populated>.elementor-background-overlay,
.elementor-28 .elementor-element.elementor-element-c7a97ca>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-28 .elementor-element.elementor-element-c7a97ca>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-c14ede4 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-c14ede4 .elementor-heading-title {
    color: #FAFAFA;
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}

.elementor-28 .elementor-element.elementor-element-d579918 {
    margin-top: 030px;
    margin-bottom: 0px;
}

.elementor-28 .elementor-element.elementor-element-9e0abf0 .elementor-heading-title {
    color: #000000;
}

.elementor-28 .elementor-element.elementor-element-3aa8f44 {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.elementor-28 .elementor-element.elementor-element-3aa8f44>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-90e20ba {
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-28 .elementor-element.elementor-element-1dae3384 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.elementor-28 .elementor-element.elementor-element-40dc7b3e {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.elementor-28 .elementor-element.elementor-element-c5abade .elementor-heading-title {
    color: #000000;
}

.elementor-28 .elementor-element.elementor-element-25ad13f>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-72876c3 {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.elementor-28 .elementor-element.elementor-element-4b4e8ec1:not(.elementor-motion-effects-element-type-background),
.elementor-28 .elementor-element.elementor-element-4b4e8ec1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #016487;
}

.elementor-28 .elementor-element.elementor-element-4b4e8ec1 {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-28 .elementor-element.elementor-element-4b4e8ec1,
.elementor-28 .elementor-element.elementor-element-4b4e8ec1>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-28 .elementor-element.elementor-element-4b4e8ec1>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-5200e5b7>.elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-28 .elementor-element.elementor-element-6592dcf8 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-6592dcf8 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Fjalla One", Sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 50px;
}

.elementor-28 .elementor-element.elementor-element-46871034>.elementor-widget-container {
    margin: 020px 0px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-5accfbb {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-28 .elementor-element.elementor-element-5accfbb,
.elementor-28 .elementor-element.elementor-element-5accfbb>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-28 .elementor-element.elementor-element-5accfbb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-3f0bfe3 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-3f0bfe3 .elementor-heading-title {
    color: #FFEA35;
}

.elementor-28 .elementor-element.elementor-element-5ec56f4 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
}

@media(min-width:768px) {
    .elementor-28 .elementor-element.elementor-element-8ac0dd3 {
        width: 37.623%;
    }
    .elementor-28 .elementor-element.elementor-element-3df819c {
        width: 62.377%;
    }
    .elementor-28 .elementor-element.elementor-element-3f5e1e4 {
        width: 33.469%;
    }
    .elementor-28 .elementor-element.elementor-element-c1b39be {
        width: 66.531%;
    }
}

@media(max-width:767px) {
    .elementor-28 .elementor-element.elementor-element-e8e9862 {
        font-size: 25px;
    }
    .elementor-28 .elementor-element.elementor-element-e8e9862>.elementor-widget-container {
        margin: -40px 0px 0px 0px;
    }
    .elementor-28 .elementor-element.elementor-element-f76e425 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-28 .elementor-element.elementor-element-f76e425>.elementor-widget-container {
        margin: -40px 0px 0px 0px;
    }
    .elementor-28 .elementor-element.elementor-element-b634636 {
        text-align: left;
    }
    .elementor-28 .elementor-element.elementor-element-76232d7 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-28 .elementor-element.elementor-element-86c590b {
        text-align: left;
    }
    .elementor-28 .elementor-element.elementor-element-ae1f6e1 {
        text-align: left;
    }
    .elementor-28 .elementor-element.elementor-element-3aa8f44 {
        text-align: left;
    }
    .elementor-28 .elementor-element.elementor-element-40dc7b3e {
        text-align: left;
    }
    .elementor-28 .elementor-element.elementor-element-72876c3 {
        text-align: left;
    }
}